html *{
    margin: 0;
    padding: 0
}

.imagen1 {
    width: 100%;
    

}

.imagen2 {
    width: 3.5vw;
    height: 7vh;
}

.imagen3 {
    width: 10vw;
    height: 20vh;
    margin: auto !important;
    display: block !important;
}


body{
    width: 100%;
    min-height: 100vh;
    
}

.nav{

  background-color: CornflowerBlue !important;
}

.imagen4{
    background-color: gray;
}


.fondo{
    background-color:  #c35831;;
    color: white;
    margin-bottom: 3vw;
    
}

h3{
    text-align: right;
    position: relative;
    right: 1vw;
    font-size: 20px;
}

.contenido{
    background-color: black;

}


.item{
    color: white !important;
    margin-right: 1vw;
}

.item1{
    color: white !important;
    font-weight: bold;
    margin-right: 1vw;
}

.elCarrousel{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 18.5vw;
    height: 37vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
   
   
    
}

.elCarrousel p{
    background-color: white;;
    border: 1px white solid;
    font-weight: bold;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    right: 1.2vw;
    font-weight: 700;
    
}






body{
    background-color: #c35831;
}

.titulos{

    color: white;
    margin-bottom: 2vw;
    
   
}

.pages{
    font-size: 5vw;
    color: white;
    text-align: center;
    margin-top: 5vw;
}

.Browser{
    display: flex;
    justify-content: center;
}

input{
    width: 35vw;
    height: 10vh;
    border: 2px solid black;
    margin-top: 1vw;
    text-align: center;
}


.cityImage{
    width: 35vw;
    height: 25vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh !important;
    background-position: center !important;
    margin: 0 auto;
    
}

.cityImage p{
    background-color: #00aae4;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.home {
    width: 4vw;
    height: 8vh;
    margin: 0 auto;
    margin-top: 1vw;
}

.itineraries{
    width: 50vw;
     height: 25vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh !important;
    background-position: center !important;
    margin: 0 auto;
    
}

.itineraries p{
    background-color: #00aae4;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.textoItineraries{
    margin: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1vw;
    margin-bottom: 2vw;
  
}

.titleNoItineraries{
    border: 2px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 20vh;
    margin-top: 2vw;
    margin-bottom: 5vw;
    background-color:  #00aae4;
    margin: 0 auto;
  

}

.imgRoutes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vw;
}

.flechita {
    width: 3.5vw;
    height: 7vh;
    margin-top: 1vw;
    position: relative;
    right: 2vw;
}

.home2 {
    width: 4vw;
    height: 8vh;
    margin-top: 1vw;
}
