html *{
    margin: 0;
    padding: 0
}

.imagen1 {
    width: 100vw;
    height: 70vh;
    

}

body{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.imagen2 {
    width: 3vw;
    height: 6vh;
    
    margin-left: 2vh;
}

.imagen3 {
    width: 10vw;
    height: 20vh;
    margin: auto !important;
    display: block !important;
}


body{
    width: 100%;
    min-height: 100vh;
    
}

.nav{

  background-color: CornflowerBlue !important;
}

.imagen4{
    background-color: gray;
}


.fondo{
    
    color: white;
    margin-bottom: 3vw;
    
}

h3{
    text-align: right;
    position: relative;
    right: 1vw;
    font-size: 20px;
}

.contenido{
    background-color: black;

}


.item{
    color: white !important;
    margin-right: 1vw;
    margin-bottom: 1vw;
    font-size: 20px;
  
    
}

.logout{
    color: white !important;
    margin-right: 1vw;
    margin-bottom: 1vw;
    display: inline-block;
}

.barrita{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
}

.item1{
    color: white !important;
    font-weight: bold;
    margin-right: 1vw;
    margin-bottom: 1vw;
    font-size: 20px;
}

.elCarrousel{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 18.5vw;
    height: 37vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
   
   
    
}

.elCarrousel p{
    background-color: white;;
    border: 1px white solid;
    font-weight: bold;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    right: 1.2vw;
    font-weight: 700;
    
}






body{
    background-color: #c35831;
}

.titulos{

    color: white;
    margin-bottom: 2vw;
    
   
}

.pages{
    font-size: 5vw;
    color: white;
    text-align: center;
    margin-top: 5vw;
}

.Browser{
    display: flex;
    justify-content: center;
}

input{
    width: 35vw;
    height: 10vh;
    border: 2px solid black;
    margin-top: 1vw;
    text-align: center;
}


.cityImage{
    width: 35vw;
    height: 25vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh !important;
    background-position: center !important;
    margin: 0 auto;
    border-radius: 32px 32px 32px 49px;
-moz-border-radius: 32px 32px 32px 49px;
-webkit-border-radius: 32px 32px 32px 49px;
border: 0px solid #000000; 


    
}

.cityImage:hover {
    transform: translateX(-10px);
    transform: translateY(-10px);
}



.cityImage p{
    background-color: #00aae4;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.logoDisplay{
    display: flex;
    justify-content: center;

}
.home {
    width: 4vw;
    height: 8vh;
    margin: 0 auto;
    margin-top: 1vw;
}

.contenedor{
    background-color: white;
    width: 60vw;
    height: 40vh;
    justify-content: center !important;
    display: flex !important;
    margin: 0 auto;
    margin-top: 5vw;
    border: 1px solid black;
   
}

.dataItinerary{
    display: flex;
    justify-content: space-around;

}

.itineraries{
    width: 80vw;
     height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh !important;
    background-position: center !important;
    margin: 0 auto;
    
}


.itineraries p{
    background-color: #00aae4;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.textoItineraries{
    margin: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1vw;
    margin-bottom: 2vw;
  
}

.titleNoItineraries{
    border: 2px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 20vh;
    margin-top: 2vw;
    margin-bottom: 5vw;
    background-color:  #00aae4;
    margin: 0 auto;
  

}

.imgRoutes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vw;
}

.flechita {
    width: 3.5vw;
    height: 7vh;
    margin-top: 1vw;
    position: relative;
    left: 5vw;
}

.home2 {
    width: 4vw;
    height: 8vh;
    margin-top: 1vw;
    position: relative;
    right: 2vw;
}

.centrado{
    display: flex;
    justify-content: center;
    margin-top: 4vw;
}

.preloader {
  width: 70px;
  height: 70px;
  border: 10px solid #eee;
  border-top: 10px solid #666;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.noCity{
    
    background-repeat: no-repeat;
    background-size: cover;
    width: 35vw;
    height: 30vh;
    margin: 0 auto;
    margin-top: 2vw;
    margin-bottom: 1vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: black;
    font-weight: bold;
    border-radius: 32px 32px 32px 49px;
    -moz-border-radius: 32px 32px 32px 49px;
    -webkit-border-radius: 32px 32px 32px 49px;
    border: 0px solid #000000; 
    
}

.error{
    position: relative;
    bottom: 0.3vw;
    font-size: 20px;
    text-align: center;
}

.profile{
    border-radius: 10vw;
}

.text{
    display: flex !important;
    justify-content: space-around !important;
}


.cadaItinerary {
    display: flex;
    align-items: center;
    background-color:  #00aae4;;
    justify-content: center;
    width: 80vw;
    margin-bottom: 4vh;
    text-decoration: none;
    border-radius: 15px;
    box-shadow: 2px 2px 8px black;
    font-size: 3vw;
    margin: 0 auto;
    margin-top: 5vw;
   
}
.userItinerary{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30vw;
    height: 40vh;
    text-align: center;
    
}
.bodyItinerary{
    background-color:  #00aae4;;
    width: 60vw;
}
.titulito{
    font-size: 2.9vw;
    /* color: green!important; */
    font-weight: bold;
   
}
.parrafosItinerary{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3vh;
    padding-top: 1vh;
    background-color:  #00aae4;;
   
}
.cajaHashtags{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color:  #00aae4;;
    padding-top: 1vh;
    margin-top: 2vh;
}
.corazon{
    color:red;
    font-size: 1.7vw;
}
.billete{
    color: green;
    margin-left: 0.5vw;
}
.duracion{
    font-size: 2vw;
    font-weight: bold;
    /* color: greenyellow; */
}
.likes{
    font-size: 2vw;
    font-weight: bold;
    /* background-color: khaki; */
}
.hashtag{
    margin-top: 1vh;
    /* margin-left: 2.5vw; */
    color: black;
    font-size: 2vw;
    font-weight: bold;
}
.botonItinerary{
    width: 10vw;
    margin-top: 1vw;
    position: relative;
    top: 2px;
}

.userImg{
    height: 20vh;
    width: 10vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    border-radius: 50vw;

}

.nombreUsuario{
 position: relative;
 left: 2vw;
}

.barNavigation{
 display: flex;
 justify-content: space-between;
}



.profile{
    height: 6vh;
    width: 3vw;
    border-radius: 10vw;
    margin-left: 2vh;
}

.tip {
    width: 0px;
    height: 0px;
    position: absolute;
    background: transparent;
    border: 10px solid #ccc;
  }
  
  .tip-up {
    top: -25px; /* Same as body margin top + border */
    left: 10px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
  }
  
  .tip-down {
    bottom: -25px;
    left: 10px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;  
  }
  
  .tip-left {
    top: 10px;
    left: -25px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;  
  }
  
  .tip-right {
    top: 10px;
    right: -25px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;  
  }
  
  .dialogbox .body {
    position: relative;
    max-width: 300px;
    height: auto;
    margin: 20px 10px;
    padding: 5px;
    background-color: #DADADA;
    border-radius: 3px;
    border: 5px solid #ccc;
  }
  
  .body .message {
    min-height: 30px;
    border-radius: 3px;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.5;
    color: #797979;
  }

  .column{
      display:flex;
      flex-direction: column;
  }

  #blanco{
      display: inline-block;
  }

  .item3{
    color: white !important;
    font-weight: bold;
    margin-right: 1vw;
    margin-bottom: 1vw;
    position: relative;
    top: 0.8vw;
    font-size: 20px;
 
}

.container-form{
    display: flex;
    flex-direction: column;
   
   
}

.inputCenters{
    justify-content: center;
    margin-left: 10vw;
    
}

.textRegister{
    text-align: center;
}


.btn-grad {background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }






.botones{
    display: flex;
    width: 20%;
    margin-top: 2vw;
    margin: 0 auto;
    
    
    
  

}

.seleccionador{
    width: 79%;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 2vw;
    text-align: center;
}

.google{
    text-align: center;
   
    margin: 10px;
    padding: 15px 45px;
    width: 20vw;
   
}

.buttonLogin{
    margin-right: 3vw;
    
    margin-top: 1vw;
    width: 20%;
    
    
    
}


.buttonLogin {background-image: linear-gradient(to right, #B993D6 0%, #8CA6DB  51%, #B993D6  100%)}
.buttonLogin {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: black;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   margin: 0 auto;
 }

 .buttonLogin:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }



.botoncitos{
    display: flex;
    flex-direction: column;
   
    
   
}

.googlecito{
    width: 18vw;
    height: 8vh;
    text-align: center;
    margin: 0 auto;
    margin-top: 1em;
}

.logeo{
    text-align: center;
    position: relative;
    right: 7vw;
}

.tituloActividades{
    background-color: red;
}

.citiesButton{
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}


.submit {background-image: linear-gradient(to right, #FEAC5E 0%, #C779D0  51%, #FEAC5E  100%)}
.submit {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: flex;
    justify-content: center;
    margin-top: 1vw;
 }

 .submit:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


.newcities{
    text-align: center;
    margin-bottom: 1vw;
}

.logueando{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputLogin{
    margin-bottom: 2vw;
}

.logeo{
    margin-left: 12vw;
    margin-bottom: 2vw;
    
}

.inputCities{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logoMyTinerary{
    display: flex;
    align-items: center;
    color: white;
}

.imagen4 {
    width: 10vw;
    height: 12vh;
    border-radius: 20vw;

    margin-left: 2vh;
}